# Large datasets
# data/  <-- Comentado para permitir archivos .dvc dentro
# notebooks/data/ <-- Comentado para permitir archivos .dvc dentro


# Spark / Sedona
spark-warehouse/

# Jupyter
.ipynb_checkpoints/

# Big files
*.csv
*.parquet

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environment
.venv/

# Data directory (managed via DVC or pipeline)
data/
Tesis/
